* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/*******************/
body {
    font-family: 'Nunito Sans', sans-serif;
}

.arkaplan {
    background-color: #25373D;
}

.kapsayici {
    width: 960px;
    margin: 0 auto;
}

.ust {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}

.ust .logo {
    text-align: center;
    color: #fff;

}

.ust .logo h1 {
    font-size: 4rem;
    letter-spacing: .5rem;
    color:rgb(75, 73, 187)
}

.ust .logo h1 span {
    color: #4CAF50;
}

.ust .logo h1:hover span {
    background-color: #4CAF50;
    color: #25373D;
}

.ust .logo h2 {
    font-size: 2.4rem;
}

.ust .menu ul {
    display: flex;
}

.ust .menu ul li {
    margin: 0 1rem;
}

.ust .menu ul a {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0 2rem;
}

.ust .menu ul a:hover {
    color: #FCB941;
}