{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'kullanici_bilgileri/style.css' %}">

<div class="arkaplan alt-kenar-10">
    <div class="ust kapsayici">
        <div class="logo">
            <h1><span>Öğret</span>medya</h1>
            <h2>www.ogretmedya.com</h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{% url 'anasayfa'%}">Ana Sayfa</a></li>
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'giris' %}">Giriş</a></li>
                    <li><a href="{% url 'register' %}">Kayıt</a></li>
                {% endif %}
                <li><a href="{% url 'egitimler'%}">Eğitimler</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'egitim_ekle' %}">Eğitim Ekle</a></li>
                <li><a href="{% url 'hesap' %}">Hesap</a></li>
                <li><a href="{% url 'cikis' %}">Çıkış</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<h1>Kullanıcı Profili</h1>
<div class="user-info">
    <div class="profil-resim">
        <label for="profile-picture">Profil Resmi:</label>
        <img src="{{ kullanici.userprofile.profile_picture.url }}" alt="Profil Resmi">
    </div>
</div>
<div class="user-info">
    <label for="username">Kullanıcı Adı:</label>
    <input type="text" id="username" name="username" value="{{ kullanici.username }}" readonly>
</div>
<div class="user-info">
    <label for="email">E-Posta Adresi:</label>
    <input type="email" id="email" name="email" value="{{ kullanici.email }}" readonly>
</div>
<div class="user-info">
    <label for="name">Adı Soyadı:</label>
    <input type="text" id="name" name="name" value="{{ kullanici.get_full_name }}" readonly>
</div>

{% endblock %}
